/target/
/.project
/.settings/
*.class
*.class
src/main/webapp/WEB-INF/classes/com/wisely/rest/api/JacksonConfig.class
src/main/webapp/WEB-INF/classes/com/wisely/rest/api/ReservationApi.class
src/main/webapp/WEB-INF/classes/com/wisely/rest/api/ReservationApplication.class
src/main/webapp/WEB-INF/classes/com/wisely/scheduling/model/WiApiAvailability.class
src/main/webapp/WEB-INF/classes/com/wisely/scheduling/model/WiApiAvailabilitySlot.class
src/main/webapp/WEB-INF/classes/com/wisely/scheduling/model/WiAvailability.class
src/main/webapp/WEB-INF/classes/com/wisely/scheduling/service/ReservationScheduler.class
src/main/webapp/WEB-INF/classes/com/wisely/rest/api/JacksonConfig.class
src/main/webapp/WEB-INF/classes/com/wisely/rest/api/JacksonConfig.class
src/main/webapp/WEB-INF/classes/com/wisely/rest/api/ReservationApi.class
src/main/webapp/WEB-INF/classes/com/wisely/rest/api/ReservationApplication.class
src/main/webapp/WEB-INF/classes/com/wisely/scheduling/model/WiApiAvailability.class
src/main/webapp/WEB-INF/classes/com/wisely/scheduling/model/WiApiAvailabilitySlot.class
src/main/webapp/WEB-INF/classes/com/wisely/scheduling/model/WiAvailability.class
